.places {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0 auto 92px;
    padding: 0;
    max-width: 984px;
    row-gap: 80px;
    position: relative;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .places {
        max-width: 928px;
        margin: 0 4.69% 92px;
    }
}

@media screen and (min-width: 425px) and (max-width: 768px) {
    .places {
        max-width: 720px;
        margin-bottom: 90px;
        margin: 0 3.13% 90px;
    }
}

@media screen and (max-width: 425px) {
    .places {
        width: 100%;
        row-gap: 50px;
        margin-bottom: 66px;
    }
}
