.section-subtitle {
    text-align: center;
    margin: 0;
    max-width: 600px;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
}

@media screen and (min-width: 425px) and (max-width: 568px) {
    .section-subtitle {
        max-width: 400px;
        font-size: 25px;
        line-height: 30px;
    }
}

@media screen and (max-width: 425px) {
    .section-subtitle {
        max-width: 288px;
        font-size: 16px;
        line-height: 20px;
    }
}