.header {
    width: 92.5%;
    margin: auto;
    padding-top: 28px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

@media screen and (min-width: 320px) and (max-width: 425px) {
    .header {
        padding-top: 16px;
        align-items: end;
    }
}